section.p-main 
  .p-main__inner テストです。よろしくお願いします。吾輩は猫である。名前はまだない
    figuer
      img(src="https://placehold.jp/400x300.png", alt="").p-main__image
    .p-main__row 
      .p-main__item--left
      .p-main__item--right
    .p-main__cards
      .p-main__card
        .p-main__card__title
          p タイトルです
        .p-main__card__text 
          p 本文です本文です
      .p-main__card
        .p-main__card__title
          p タイトルです
        .p-main__card__text 
          p 本文です本文です
      .p-main__card
        .p-main__card__title
          p タイトルです
        .p-main__card__text 
          p 本文です本文です
    
  